
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
	
.legend2 {
    padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	font-size: 12px;
	text-align: left;
   }

.cosite{
	float: left;
}

h3 { 
	font-weight: bold;
}

h4 { 
	font-weight: bold;
}

h5 {
	font-weight: bold;
	font-size: 15px;
	/*text-align: center;  */
}

thead th{
	text-align: center;
	color: orange;
}

td.year{
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

tbody td{
	text-align: right;
	font-size: 12px;
}

#navigator {
	height: 55px;
}


#map {
	position: absolute;
	width: 33%;
	top: 70px;
	bottom: 0;
}

#cosite{
	position: absolute;
	left: 35%;
	width: 65%;
	top: 70px;
	height: 70px;
	padding-left: 20px;
}

#data_table {
	position: absolute;
	left: 35%;
	width: 15%;
	top: 130px;
	bottom: 0;
	padding: 0 20px;
}
	
#data_chart {
	position: absolute;
	left: 52%;
	width: 47%;
	top: 130px;
	padding: 0 20px;
}

#data_projection_chart {
	position: absolute;
	left: 52%;
	width: 47%;
	top: 520px;
	padding: 0 20px;
}