
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
	
.legend2 {
    padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	font-size: 12px;
	text-align: left;
   }


.navbar .nav > li > a {
    padding: 10px 10px;
}

.cosite{
	float: left;
}

h3, h4, h5 { 
	font-weight: bold;
}

h5 {
	font-size: 15px;
}

th.aadt_table{
	text-align: center;
	color: orange;
}

th.proj_table{
	text-align: center;
}

th.growth{
	background-color: rgba(220,220,220,0.3); 
}

th.aadt, th.growth{
	font-style: italic;
	text-align: center;
}

td, th.growth, th.aadt{
	font-size: 12px;
}

td.year{
	text-align: center;
	font-weight: bold;
}

td.analysisYear {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}

th.est_sel, td.sel_year{
	color: #1D6F42;
}
th.est_five, td.five_year{
	color: orange;
}
th.est_ten, td.ten_year{
	color: #EF6950;
}

td.aadt, td.growth, td.five_year, td.ten_year, td.sel_year{
	text-align: right;
}

td.aadt_flag{
	text-align: center;
}

td.est_growth{
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	background-color: rgba(220,220,220,0.3);
}

#projection_table{
	font-weight: bold;
}

#navigator {
	height: 55px;
}

#map {
	position: absolute;
	width: 33%;
	top: 60px;
	bottom: 0;
}

#data_table {
	position: absolute;
	left: 34%;
	width: 17%;
	top: 60px;
	bottom: 0;
	padding: 10px 16px;
}

#cosite{
	position: absolute;
	left: 52%;
	width: 47%;
	top: 55px;
	height: 50px;
	padding-left: 20px;
}

#data_chart {
	position: absolute;
	left: 52%;
	width: 47%;
	top: 110px;
	bottom: 0;
	padding: 0 20px;
}
