
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
	font-size: 18px;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
	
.legend2 {
    padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	font-size: 12px;
	text-align: left;
   }

h3, h4, h5 { 
	font-weight: bold;
}

h5 {
	font-size: 15px;
}

header{
	z-index: 100;
}

div{
	z-index: 5;
}

.cosite{
	float: left;
	padding: 12px 0;
}

.table{
	margin-bottom: 8px;
}

#aadt_table th{
	text-align: center;
	color: #EF6950;
}

th.proj_table, th.head-nchrp{
	text-align: center;
	font-size: 15px;
}

th.growth, td.nchrp-common-data{
	background-color: rgba(220,220,220,0.2); 
}

th.aadt, th.growth{
	font-style: italic;
	text-align: center;
}

td, th.growth, th.aadt{
	font-size: 12px;
}

td.year{
	text-align: center;
	font-weight: bold;
}

td.analysisYear {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}

th.est_sel, td.sel_year, .kfac, td.m4, th.m4{
	color: #1D6F42;
}
th.est_five, td.five_year, td.m5a, th.m5a{
	color: orange;
}
th.est_ten, td.ten_year, .dfac, td.m5b, th.m5b{
	color: #EF6950;
}
th.est_tbrpm, td.tbrpm, .tfac, td.m6, th.m6{
	color: #008CC4;
}

td.aadt, td.growth, td.five_year, td.ten_year, td.sel_year, td.tbrpm{
	text-align: right;
}

td.aadt_flag{
	text-align: center;
}

td.est_growth{
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	background-color: rgba(220,220,220,0.3);
}

#nchrp_procedure {
	text-align: right;
	font-weight: bold;
}

#nchrp_procedure tr td:nth-child(1){
	text-align: left;
	font-size: 13px;
}

th.head-nchrp{
	text-align: center;
}

#kdt{
	text-align: center;
	font-weight: bold;
}

#kdt th{
	font-size: 13px;
}

.map {
	position: absolute;
	width: 33%;
	top: 72px;
	bottom: 0;
}

.box_cosite{
	position: absolute;
	left: 34%;
	width: 17%;
	top: 72px;
	height: 50px;
	padding: 0px 10px;
}

#data_table{
	position: absolute;
	left: 34%;
	width: 17%;
	top: 120px;
	bottom: 0;
	padding: 0 5px;
}

#aadt_projection_table, #nchrp_projection_table{
	font-weight: bold;
}

#cosite, #chartsta{
	font-weight: bold;
	font-size: 1.2em;
}

.container{
	position: absolute;
	left: 53%;
	width: 47%;
	top: 72px;
	bottom: 0;
}

.nav-pills{
	padding: 12px 0;
}

#nchrp-projection {
	position: absolute;
	top: 56px;
	padding-right: 15px;
}
